<h1>User info</h1>
  <%= image_tag user.get_profile_image("100x100") %>
  <p>name<%= user.name %></p>
  <p>introduction<%= user.introduction %></p>
  <% if user.id == current_user.id %>
    <p><i class="fas fa-user-cog"></i><%= link_to edit_user_path(current_user.id), class:"btn" %></p>
  <% else %>
    <p><i class="fas fa-user-cog"></i><%= link_to user_path(current_user.id), class:"btn" %></p>
  <% end %>